<div class="container">

</div>


<form [formGroup]="_Reg._formGroupControl">
    <div id="caption">
        <h1>Cadastro de usuário</h1>
    </div>


    <div class="container">
        <div class="row p-5" id="frame">
            <div class="row justify-content-center">
                <img id="imgusr" src="../../../../../assets/usr.png" style="width:200px;height:150px;">
            </div>
            <div class="row pt-5"></div>
            <hr>
            <div class="row pt-5"></div>

            <div class="p-5">
                <!-- style="background-color: rgb(255, 197, 55);" -->
                <div class="row">
                    <label for="">USUÁRIO</label>
                    <div class="row pt-3"></div>

                    <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="row">
                    <div class="row pt-3"></div>
                    <label for="">SENHA</label>
                    <div class="row pt-3"></div>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="row">
                    <div class="row pt-3"></div>
                    <label for="">CONFIRMAR SENHA</label>
                    <div class="row pt-3"></div>
                    <input type="password" class="form-control" formControlName="passwordconfirm">
                </div>


                <div class="row pt-3"></div>
                <div class="row pt-3"></div>
                <div class="row pt-3">
                    <button class="btn btn-warning" (click)="_Reg.register()">SALVAR</button>
                </div>

            </div>




        </div>
    </div>

</form>
