<div class="sidebar-nav bg-black" *ngIf="_AuthenticationService.IsAuthenticated">
    <nav class="navbar navbar-dark bg-warning ">
        <!-- style=" color:rgb(255, 115, 0);" -->
        <div class="container">

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasScrolling">

        <span class="navbar-toggler-icon"></span>
      </button>

            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow justify-content-center" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                <div class="offcanvas-body ">
                    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="float: right;"></button> -->
                    <ul class="navbar-nav">
                        <div class="container" id="logo">
                            <div class="row justify-content-center">
                                <img src="../../../../../assets/maedit.png" class="p-1" style="width:120px; height: 100px;">
                            </div>
                        </div>
                        <div class="justify-content-center" style="text-align:center;">
                            <h1 style="text-align:center;">MINAS AR</h1>
                            <small>Compresssores</small>
                        </div>
                        <br>
                        <hr>
                        <li><a><i class="bi bi-boxes"></i> <span class="item-text" [routerLink]="['/prodpagelist']"
                  data-bs-dismiss="offcanvas">Produtos</span></a></li>

                        <div class="pt-1"></div>
                        <li><a><i class="bi bi-tags"></i> <span class="item-text" [routerLink]="['/catadm']"
                  data-bs-dismiss="offcanvas">Categoria</span></a>
                        </li>
                        <div class="pt-1"></div>
                        <li><a><i class="bi bi-rulers"></i> <span class="item-text" [routerLink]="['measureadm']"
                  data-bs-dismiss="offcanvas">Medidas</span></a>
                        </li>
                        <div class="pt-1"></div>
                        <li><a><i class="bi bi-pen"></i> <span class="item-text" [routerLink]="['/record']"
                  data-bs-dismiss="offcanvas">Cadastros</span></a></li>
                    </ul>
                    <hr>
                </div>
            </div>

        </div>



        <div class="btn-group">



            <a class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="usericon"><i class="bi bi-person-circle"></i></span>
                <span class="textnone">{{getUserName()}}</span>
            </a>


            <ul class="dropdown-menu dropdown-menu-end">
                <!-- <li>
                  <button class="dropdown-item" type="button"><i class="bi bi-lock-fill"></i> Change Password</button>
              </li>
              <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Admin Setion</button></li>
              <li><button class="dropdown-item" type="button"><i class="bi bi-gear-wide-connected"></i> IMAP
        Settings</button></li> -->
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><button class="dropdown-item" type="button" (click)="quit()"><i
          class="bi bi-box-arrow-right"></i> Sair</button></li>
            </ul>

        </div>
    </nav>


</div>

<router-outlet></router-outlet>