<div class="modal-header">
    <h4 class="modal-title pull-left">Editando registro...</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="doHide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">

    <div class="container-fluid;" id="general_container">
        <div class="row">
            <div>
                <h1 style="text-align: center; margin-top: 20px;">{{this.CatEditServices.category.name}}</h1>
            </div>
            <div>
                <div>
                    <form [formGroup]="CatEditServices.formCategoryEdit" class="form-group" class="col-12">
                        <div id="hr"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <label>Nome:</label>
                                    <input class="form-control" type="text" formControlName="name">
                                    <!-- [ngClass]="{'is-invalid': CatEditServices._ValidatorsSrv.touchedErrors('name', CatEditServices.formCategoryEdit)}" -->
                                    <!-- <div class="invalid-feedback">
                                {{CatEditServices._ValidatorsSrv.required2(this.CatEditServices.formCategoryEdit, 'name', 'Nome', 3, 250)}}
                            </div> -->

                                </div>
                            </div>
                        </div>
                        <div class="pt-1"></div>
                        <div class="container">
                            <div class="row" formArrayName="subCategories">
                                <label>SubCategoria</label>
                                <!-- <div *ngFor="let sub of this.CatEditServices.category.subCategories let i=index"> -->
                                <div *ngFor="let sub of CatEditServices?.RetSubCatArrays?.controls let i=index">
                                    <div [formGroupName]="i">

                                        <div class="col-12">

                                            <table class="col-12">
                                                <tr class="col-12">
                                                    <td class="col-10">
                                                        <input type="text" #Val class="form-control" [id]="i" name="subs" placeholder="{{(i + 1)+'º' + ' ' + 'Subcategoria'}}" formControlName="name">
                                                        <!-- [ngClass]="{'is-invalid': CatEditServices._ValidatorsSrv.touchedErrorsArray(CatEditServices.RetSubCatArrays, i+'.name')}" -->
                                                        <!-- <div class="invalid-feedback">
                                                    {{CatEditServices._ValidatorsSrv.requiredArray(CatEditServices.RetSubCatArrays, i+'.name', 'Nome', 3, 150)}}
                                                </div> -->
                                                    </td>
                                                    <div class="p-3">

                                                    </div>
                                                    <td class="col">
                                                        <button class="btn btn-danger" style="color: white; border-radius: 30px; text-align: center; box-shadow:3px 1px black 0.1;" (click)="CatEditServices.removeSub(i)">Remover </button>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div class="pt-3">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="pt-1"></div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-6">

                                </div>
                                <div class="col-6">
                                    <button class="btn btn-success" style="color: white; border-radius: 30px; text-align: center; box-shadow:3px 1px black 0.1;  float: right;" (click)="this.CatEditServices.addSubCatArrays(CatEditServices.category.id)">Adicionar </button>
                                </div>
                            </div>
                        </div>
                        <div class="pt-3"></div>


                        <!-- [disabled]="!CatEditServices.formCategoryEdit.valid" -->

                    </form>

                </div>

            </div>


        </div>
    </div>

    <div class="modal-footer">
        <div class="container">
            <div class="row">
                <div class="col-6" style=" float: left;">
                    <button class="btn btn-warning" (click)="doHide()">Cancelar</button>
                </div>
                <div class="col-6" style=" float: right;">
                    <button id="label" class="btn btn-success btn-lg" style="color:rgb(255, 255, 255); float: right;" (click)="CatEditServices.updateAsync()" (click)="doHide()">Atualizar</button>
                </div>
            </div>
        </div>

    </div>


    <div>
        {{CatEditServices.formCategoryEdit.value | json}}}
    </div>