<div class="modal-header justify-content-center">
    <h4 class="modal-title">{{getRecord.name}}</h4>

    <span aria-hidden="true" class="visually-hidden">&times;</span>
</div>
<div class="modal-body">

    <div class="container" [formGroup]="this.form">
        <div class="row">

            <table>
                <tr class="d-flex justify-content-center" style="text-align: center; font-size:45px; color: green;">
                    {{getRecord.price | currency:'BRL':true:'1.2-2'}}
                </tr>
            </table>
            <div class="pb-3"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Quantidade</label>
                <input class="form-control" type="number" formControlName="quantity" [ngClass]="{'is-invalid':  touchedErrors('quantity', this.form) }" min="0">
                <!-- min="0" -->

                <div class=" invalid-feedback ">
                    {{required(this.form, 'quantity', 'Quantidade', 1, null)}}
                </div>
                <!-- <div *ngIf="this.limitsBool" style="color:red;">
                {{this.warning}}

            </div> -->

            </div>
            <div class="col-6" style="display:none;">
                <!-- <label>Data</label> -->
                <input bsDatepicker class="justify-content-center form-control" type="text " formControlName="dateSell">
            </div>
            <div class="col-6 ">
                <label>Desconto</label>
                <input type="text " class="form-control " currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false } " ngModel formControlName="discount">
            </div>

            <div class="p-2"></div>

            <section class="col d-flex bd-highlight">
                <div class="d-flex bd-highlight" *ngFor="let p of pay; let i = index;">
                    <div class="d-flex bd-highlight btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="radio" id="pay" class="btn btn-outline-success">
                          <input class="radio" id="pay" type="radio" [value]="i" name="payment" formControlName="payment">
                          {{p}}
                          </label>
                    </div>

                </div>
            </section>
        </div>
    </div>

</div>

<div class="modal-footer ">
    <!-- <button type="button " class="btn btn-default " (click)="doHide() ">Fechar</button> -->


    <table class="col">
        <tr>
            <td class="col-2">
                <span>{{'ESTOQUE'}}</span>
            </td>
            <td>
                <span style="color: green;">{{this.quantity}}</span>
            </td>
            <td class="col-4" style="float: right;">
                <button [disabled]="!form.valid" class="btn btn-warning" (click)="selling()" (click)="doHide()" style="float: right;">Vender</button>
            </td>
            <td class="col-6" style="float: right;">
                <button style="float: right;" class="btn btn-danger" (click)="doHide()">Cancelar</button>
            </td>
        </tr>
    </table>
</div>

<!-- {{this.form.value|json}} -->