<div class="container">
    <div class="pt-3"></div>
    <tabset>
        <!-- <tab heading="MEDIDAS" class="col-12">
            <measure-insert></measure-insert>
        </tab> -->
        <!-- <tab heading="CATEGORIAS" class="col-12">
            <category-insert></category-insert>
        </tab> -->
        <tab heading="PRODUTOS" class="col-12">
            <product-insert></product-insert>
        </tab>
        <tab heading="USUÁRIOS" class="col-12">
            <register></register>
        </tab>

    </tabset>

</div>
