<div class="container-fluid;" id="general_container">
    <div class="row">
        <div class="col" style="margin: 20px; color: transparent;" id="myForm">
            <div>
                <h1 style="text-align: center; margin-top: 20px;">PRODUTO</h1>
            </div>
            <div>
                <div>
                    <form [formGroup]="_ProductService.formProductEdit" class="form-group" class="col-12">
                        <div class="p-2"></div>
                        <div class="container">
                            <div class="row">
                                <div class="pt-3">
                                    <h6 style="color: black;">Identificação</h6>
                                </div>
                                <div class="col-4">
                                    <label>Nome</label>
                                    <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('name', _ProductService.formProductEdit)}">
                                    <div class="invalid-feedback">
                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'name', 'Nome', 3, 150)}}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Fabricante</label>
                                    <input type="text" class="form-control" formControlName="manufacturer" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('manufacturer', _ProductService.formProductEdit)}">
                                    <div class="invalid-feedback">
                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'manufacturer', 'Fabricante', 3, 150)}}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Compra</label>
                                    <input bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" type="text" class="form-control" formControlName="date" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('date', _ProductService.formProductEdit)}">
                                    <div class="invalid-feedback">
                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'date', 'date', null, null)}}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="pt-3">
                                    <h6 style="color: black;">Classificação</h6>
                                </div>


                                <div class="col-6" *ngIf="_ProductService.categories">
                                    <label>Categorias</label>
                                    <select class="form-select btn btn-warning" (change)="_ProductService.OnChangeCategory($event)">
                    <option class="btn btn-warning" *ngFor="let cat of _ProductService.categories" [value]="cat.id"
                      [selected]="cat.id === this.CategoryIdCompare">
                      {{cat.name}}
                    </option>
                  </select>
                                </div>

                                <div class="col-6" *ngIf="_ProductService.subCat">
                                    <label>Sub-categorias</label>
                                    <select class="form-select btn btn-warning " formControlName="subCategoryId" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('subCategoryId', _ProductService.formProductEdit)}">

                    <div class="invalid-feedback">
                      {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit,
                      'subCategoryId',
                      'Categoria', null, null)}}
                    </div>
                    <option class="btn btn-warning">
                      {{'Selecione'}}
                    </option>
                    <option class="btn btn-warning" *ngFor="let sub of _ProductService.subCat" [value]="sub.id"
                      [selected]="sub.id == this.SubCategoryIdCompare">
                      {{sub.name}}
                    </option>
                  </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="pt-3">
                                        <h6 style="color: black;">Valores</h6>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label>Custo</label>
                                            <input type="text" currencyMask class="form-control" formControlName="cost" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('cost', _ProductService.formProductEdit)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'cost', 'Custo', 1, null)}}
                                            </div>
                                        </div>

                                        <div class="col">
                                            <label>Preço</label>
                                            <input currencyMask type="text" class="form-control" formControlName="price" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('price', _ProductService.formProductEdit)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'price', 'Preço', 1, null)}}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label>Quantidade</label>
                                            <input type="number" class="form-control" formControlName="quantity" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('quantity', _ProductService.formProductEdit)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'quantity', 'Quantidade', null, null)}}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="pt-3">
                                        <h6 style="color: black;">Dimensões</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Altura</label>
                                            <input type="number" class="form-control" formControlName="height" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('height', _ProductService.formProductEdit)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'height', 'Altura', 1, null)}}
                                            </div>

                                            <div>
                                                <label>Em:</label>
                                                <select class="form-select btn btn-warning" (change)="_ProductService.OnChangeHeigth($event)">

                          <option class="btn btn-warning">
                            {{'Selecione'}}
                          </option>
                          <option class="btn btn-warning" *ngFor="let measure of _ProductService.measureArray"
                            [value]="measure" [selected]="measure === this.strHeightCompare">
                            {{measure}}

                          </option>
                        </select>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <label>Largura</label>
                                            <input type="number" class="form-control" formControlName="width" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('width', _ProductService.formProductEdit)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'width', 'Custo', 1, null)}}
                                            </div>

                                            <div>
                                                <label>Em:</label>
                                                <select class="form-select btn btn-warning" (change)="_ProductService.OnChangeWidth($event)">

                          <option class="btn btn-warning">
                            {{'Selecione'}}
                          </option>
                          <option class="btn btn-warning" *ngFor="let measure of _ProductService.measureArray"
                            [value]="measure" [selected]="measure ===   strWidthCompare">
                            {{measure}}
                          </option>
                        </select>
                                            </div>


                                        </div>

                                        <div class="col-4">
                                            <label>Profundidade</label>
                                            <input type="number" class="form-control" formControlName="depth" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('depth', _ProductService.formProductEdit)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'depth', 'Profundidade', 1, null)}}
                                            </div>

                                            <div>
                                                <label>Em:</label>
                                                <select class="form-select btn btn-warning" (change)="_ProductService.OnChangeDepth($event)">

                          <option class="btn btn-warning">
                            {{'Selecione'}}
                          </option>
                          <option class="btn btn-warning" *ngFor="let measure of _ProductService.measureArray"
                            [value]="measure" [selected]="measure === strDepthCompare">
                            {{measure}}
                          </option>
                        </select>
                                            </div>


                                        </div>


                                        <div class="container">

                                            <div class="pt-3">
                                                <h6 style="color: black;">Organização</h6>
                                            </div>

                                            <div class="row">

                                                <div class="col">
                                                    <label>Estado</label>
                                                    <select class="form-select btn btn-warning" formControlName="state">


                            <option class="btn btn-warning" *ngFor="let state of _ProductService.stateArray"
                              [value]="state" [selected]="state">
                              {{state}}
                            </option>
                          </select>
                                                </div>


                                                <div class="col">
                                                    <label>Armazenamento</label>
                                                    <select class="form-select btn btn-warning" formControlName="storage">

                            <option class="btn btn-warning" *ngFor="let storage of _ProductService.storageArray"
                              [value]="storage" [selected]="storage">

                              {{storage}}
                            </option>
                          </select>
                                                </div>
                                                <div class="col">
                                                    <label>Empilhamento Máximo</label>
                                                    <input type="number" class="form-control" formControlName="maxstacked" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('maxstacked', _ProductService.formProductEdit)}">
                                                    <div class="invalid-feedback">
                                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'maxstacked', 'maxstacked', null, null)}}
                                                    </div>

                                                </div>

                                                <div class="col">
                                                    <label>Formato:</label>
                                                    <select class="form-select btn btn-warning" formControlName="format">

                            <option class="btn btn-warning" *ngFor="let format of _ProductService.formatArray"
                              [value]="format" [selected]="format">
                              {{format}}
                            </option>
                          </select>
                                                </div>



                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label>Medido em:</label>
                                            <input type="number" class="form-control" formControlName="weight" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('weight', _ProductService.formProductEdit)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'weight', 'Peso', 1, null)}}
                                            </div>
                                        </div>
                                        <div class="col-6" *ngIf="this._idMeasure">
                                            <label>Medida</label>
                                            <select class="form-select btn btn-warning" formControlName="unitOfMeasureId" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('unitOfMeasureId', _ProductService.formProductEdit)}">
                        <div class="invalid-feedback">
                          {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit,
                          'unitOfMeasureId', 'Unidade de medida', 1, null)}}
                        </div>
                        <option class="btn btn-warning" *ngFor="let measure of _ProductService.uOfMeasures"
                          [value]="measure.id" [selected]="measure.id === this._idMeasure">
                          {{measure.name}}
                        </option>
                      </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1"></div>
                                <div>

                                    <div class="pt-3">
                                        <h6 style="color: black;">Detalhamento peculiaridade</h6>
                                    </div>
                                    <label>Descrição</label>
                                    <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('description', _ProductService.formProductEdit)}">
                                    <label>Observações</label>
                                    <input type="text" class="form-control" formControlName="comments" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('comments', _ProductService.formProductEdit)}">
                                    <div class="invalid-feedback">
                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductEdit, 'description', 'Descrição', 3, 500)}}
                                    </div>
                                    <div class="p-3">
                                        <button [disabled]="!_ProductService.formProductEdit.valid" id="label" class="btn btn-warning btn-lg" style="color:rgb(0, 0, 0); float: right;" (click)="_ProductService.save()">Cadastrar</button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="p-1"></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div>
            {{_ProductService.formProductEdit.value | json}}
        </div>
