<div id="general">



    <div>
        <tabset>
            <tab heading="TODOS">
                <div class="container">

                    <br>
                    <div style="font-size: 80px;">


                        <div class="row">

                            <div class="col-6 bi bi-boxes justify-content-center" style="font-size: 80px; color:rgb(0, 0, 0);">
                                <div class="pt-5"></div>
                            </div>


                            <div class="col-4 pt-5" style="font-size: 30px; ">
                                Unidades de medidas
                            </div>



                        </div>

                    </div>
                    <div class="row">
                        <hr>
                        <div class="col" style=" color: rgb(255, 193, 7); ">
                            <div>
                                <h1>NOME</h1>
                            </div>

                        </div>
                        <div class="col " style="color: rgb(255, 193, 7); ">
                            <div>
                                <h1>DESCRIÇÃO</h1>
                            </div>
                        </div>
                        <div class="col " style="color: rgb(255, 193, 7); ">
                            <div>
                                <h1>AÇÕES</h1>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row " *ngFor="let prod of this.products ">
                        <hr style=" box-shadow: 0 0 3px #ff9900, 0 0 5px #000000; ">

                        <div class="col-2 " style="color: rgb(0, 0, 0); text-shadow: 0 0 3px #ffc934, 0 0 5px #ffef0b; ">
                            <h2> {{prod.name | uppercase}} </h2>
                            <h6 style="color: rgb(255, 193, 7); text-shadow:none ">Disponível:</h6>
                            <p style="color: rgb(0, 0, 0); text-shadow: none "> {{prod.quantity}} </p>
                            <br>
                        </div>
                        <div class="col-3 " id="contentDescriptionText " style="margin-left: 150px; ">
                            <div class="text-wrap ">
                                {{prod.description}}
                            </div>

                        </div>
                        <div class="col-2 pb-3 " style="margin-left: 200px; ">
                            <div class="btn-group " dropdown>
                                <button id="button-basic " dropdownToggle type="button " class="btn btn-warning dropdown-toggle " aria-controls="dropdown-basic " style="background-color: rgb(255, 193, 7); color: rgb(0, 0, 0); font-size: 15px; "><span
                    class="caret "></span><i class="bi bi-list "></i>
                </button>
                                <div>
                                    <ul id="dropdown-basic " *dropdownMenu class="dropdown-menu " role="menu " aria-labelledby="button-basic " style="background-color: rgb(255, 245, 160); color: white; width:50px; height: 50px; ">
                                        <li role="menuitem "><a class="dropdown-item " formControlName="categoryId ">Editar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-1 ">
                            <button class="btn btn-primary " style="background-color:red; border-color: red; color: white; border-radius: 100%; "><i class="bi bi-x-lg "></i></button>
                        </div> -->

                    </div>
                </div>
                <div class="p-5 "></div>
                <div class="d-flex justify-content-center ">
                    <pagination class="paginationstyle" [boundaryLinks]="true" [totalItems]=pagination.amountItems [itemsPerPage]=pagination.itemsPerPg [(ngModel)]=pagination.currentPg (pageChanged)="pageChanged($event) " pageBtnClass="btn" previousText="Anterior
                            " nextText="Proxímo " firstText="Primeiro " lastText="Último ">
                    </pagination>
                </div>
            </tab>
            <!-- <tab heading="CADASTRO ">

            </tab> -->
        </tabset>
    </div>




</div>
