<div class="container">
    <div class="row bi bi-boxes pt-4 pb-4 pl-4" style="font-size: 80px; color: rgb(0, 0, 0); text-shadow: 0 0 1px #ff9900, 0 0 7px #f08e1f;">
        <div class="col-6 align-self-center" style="font-size: 60px;">
            PRODUTOS
        </div>
        <div class="pt-4"></div>
        <label style="font-size: 30px;">Pesquisar</label>

        <section class="bg-warning" style="width:525px; height: 60px; border-radius: 15px;">

            <input class="form-control" (input)="filterProducts($event)" type="text" style="width:500px; margin-top: 10px;">

        </section>
    </div>
    <div class="mt-3"></div>
    <div class="row">
        <section *ngFor="let prod of products">
            <ul class="list-group">
                <div class="row">
                    <ol class="col-12 list-group-item " style="background-color: rgb(211, 162, 2);">
                        <h3 style="color: white;">{{prod.name | uppercase}}</h3>

                    </ol>
                    <div class="list-group-item-warning">
                        <div class="row">
                            <div class="pt-2 col-9 align-self-end">
                                <h6>Quantidade: <span class="badge bg-success ">{{prod.quantity}}</span></h6>
                                <h6>Preço: <span class="badge bg-success ">{{prod.price | currency:'R$ ':true}}</span></h6>
                            </div>

                            <section class="col-3 pt-2 pb-2 align-self-center">
                                <button tooltip="Deletar {{prod.name}}" class="btn btn-outline-dark bi bi-trash" (click)="_ProductServices.toDelete(prod)"></button>
                                <button tooltip="Editar {{prod.name}}" class="btn btn-outline-dark bi bi-pen"></button>
                                <button tooltip="Detalhes {{prod.name}}" class="btn btn-outline-dark bi bi-info-square"></button>
                            </section>

                        </div>


                    </div>
                    <!-- <div class id="hr">
                    </div> -->
                    <!-- <dir class="btn-group">
                        <button class="btn btn-outline-danger bi bi-trash3">sssssssssssssss</button>

                    </dir> -->
                </div>
            </ul>
            <hr style=" background: rgb(255, 210, 60);
            box-shadow: 5 8px 32px 6 rgba(0, 0, 0, 0.37);
            border-radius: 10px;
            border: 1px solid rgb(0, 0, 0);">


        </section>

    </div>
    <div class="pb-4"></div>
    <div>
        <pagination class="justify-content-center paginationstyle" [boundaryLinks]="true" [totalItems]=pagination.amountItems [itemsPerPage]=pagination.itemsPerPg [(ngModel)]=pagination.currentPg (pageChanged)="pageChanged($event) " pageBtnClass="btn" previousText="Anterior
                                " nextText="Proxímo " firstText="Primeiro " lastText="Último ">
        </pagination>
    </div>
</div>