<!-- <div class="mt-3 justify-content-center">

    <section class="bg-warning">
        <h1 class="text-center">
            Categorias
        </h1>
    </section>
</div> -->
<div class="pt-3 pb-3"></div>
<section class="container">
    <div class="container">
        <div class="row">
            <table class="col-12">
                <tr class="col-12">
                    <td>
                        <div class="row bi bi-rulers pt-4 pb-4 " style="font-size: 80px; color: rgb(0, 0, 0); text-shadow: 0 0 1px #ff9900, 0 0 7px #f08e1f;">
                            <div class="col-6 align-self-center" style="font-size: 30px;">
                                Medidas
                            </div>
                        </div>
                    </td>
                    <td class="col-6 ">
                        <button tooltip="Cadastrar uma nova medida." class="btn btn-outline-warning bi bi-plus" style="font-size: 35px; float: right;" (click)="MeasureServices.measureShowHide()"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container" *ngIf="MeasureServices.measureInsertShow">
        <div>
            <measure-insert>
            </measure-insert>
        </div>
    </div>
    <div class="pt-5"></div>
    <section class="row align-items-" *ngFor="let mes of this.Measures ">
        <ul class="list-group">
            <div class="row ">


                <div class="row" style="background-color: rgb(255,197,7);">
                    <section class="pt-2">
                        <table class="col-12">
                            <tr class="col-12">
                                <td class="col-4">
                                    <h3>{{mes.name | uppercase}}</h3>
                                </td>
                                <td class="col-4">
                                    <h3>{{mes.description | uppercase}}</h3>
                                </td>
                                <td class="pt-2 pb-2 pl-5" style="float: right;">
                                    <button tooltip="Deletar {{mes.name}}" class="btn btn-outline-dark bi bi-trash" (click)="MeasureServices.toDelete(mes)"></button>
                                    <button tooltip="Editar {{mes.name}}" class="btn btn-outline-dark bi bi-pen " (click)="MeasureEditServices.toEdit(mes)"></button>
                                    <!-- <button tooltip="Detalhes {{mes.name}}" class="btn btn-outline-dark bi bi-info-square "></button> -->
                                </td>
                            </tr>
                        </table>

                    </section>
                </div>
                <!-- <div class id="hr">
              </div> -->
                <!-- <dir class="btn-group">
                  <button class="btn btn-outline-danger bi bi-trash3">sssssssssssssss</button>

              </dir> -->
            </div>
        </ul>


        <div style="height:30px; background-color: white;"></div>






    </section>
</section>