<div class="container-fluid;" id="general_container">
    <div class="row">
        <div class="col" style="margin: 20px; color: transparent;" id="myForm">
            <div>
                <h1 style="text-align: center; margin-top: 20px;">PRODUTO</h1>
            </div>
            <div>
                <div>
                    <!-- <div class="p-5"></div> -->
                    <form [formGroup]="_ProductService.formProductInsert" class="form-group" class="col-12">
                        <div>
                            <label>Nome:</label>

                            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('name', _ProductService.formProductInsert)}">
                            <div class="invalid-feedback">
                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'name', 'Nome', 3, 50)}}
                            </div>
                        </div>
                        <div class="p-1"></div>

                        <ng-select class="btn btn-warning" style="background-color: rgb(255, 197, 7); color: rgb(255, 255, 255); font-size: 25px;" [(ngModel)]="selectedCat" formControlName="categoryid" (change)="OnChange()">
                            <ng-option class="btn btn-warning" *ngFor="let cat of category" [value]="cat.id">{{cat.name}}</ng-option>
                        </ng-select>


                        <div class="p-1"></div>
                        <div *ngIf="!catToShow()">
                            <!-- <button class="btn btn-danger col-12" style=" color: rgb(255, 255, 255); font-size: 25px;" [routerLink]="['/catinsert']">Cadastrar Categorias</button> -->
                        </div>

                        <div class="p-1"></div>
                        <select class="form-select btn btn-warning " [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('categoryid', _ProductService.formProductInsert)}">

              <div class="invalid-feedback">
                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'categoryid',
                'Categoria', null, null)}}
              </div>

              <option class="btn btn-warning" *ngFor="let sub of subCat" [value]="sub.id">
                {{sub.name}}
              </option>
            </select>
                        <div class="p-2"></div>

                        <div class="container">

                            <div class="row">
                                <div class="col-4">
                                    <label>Fabricante:</label>
                                    <input type="text" class="form-control" formControlName="manufacturer" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('manufacturer', _ProductService.formProductInsert)}">
                                    <div class="invalid-feedback">
                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'manufacturer', 'Fabricante', 3, 50)}}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label>Capacidade:</label>
                                    <input type="number" class="form-control" formControlName="capacity" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('manufacturer', _ProductService.formProductInsert)}">
                                    <div class="invalid-feedback">
                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'capacity', 'Capacidade', null, null)}}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div *ngIf="!measureToShow()">
                                        <!-- <button class="btn btn-danger col-12" style="color: rgb(255, 255, 255); font-size: 25px; " [routerLink]="['/measureinsert']">Cadastrar Medidas</button> -->
                                    </div>
                                    <div *ngIf="measureToShow()">

                                        <div>

                                            <select class="form-select btn btn-warning" style="height: 37px; margin-top: 38px;" formControlName="unitofmeasureid" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('unitofmeasureid', _ProductService.formProductInsert)}">
                        <div class="invalid-feedback">
                          {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert,
                          'unitofmeasureid', 'Unidade de medida', 1, null)}}
                        </div>
                        <option class="btn btn-warning" *ngFor="let measure of uOfMeasures" [value]="measure.id"
                          value="uOfMeasures[1]">
                          {{measure.description}}
                        </option>
                      </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <label>Custo</label>
                                            <input type="text" currencyMask class="form-control" formControlName="cost" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('cost', _ProductService.formProductInsert)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'cost', 'Custo', 1, null)}}
                                            </div>
                                        </div>

                                        <div class="col">
                                            <label>Preço</label>
                                            <input currencyMask type="text" class="form-control" formControlName="price" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('price', _ProductService.formProductInsert)}">
                                            <!-- [(ngModel)]="value"  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" -->
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'price', 'Preço', 1, null)}}
                                            </div>
                                        </div>


                                        <div class="col">
                                            <label>Quantidade</label>
                                            <input type="number" class="form-control" formControlName="quantity" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('quantity', _ProductService.formProductInsert)}">
                                            <div class="invalid-feedback">
                                                {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'quantity', 'Quantidade', null, null)}}
                                            </div>

                                        </div>




                                    </div>
                                </div>
                                <div class="p-1"></div>
                                <div>
                                    <label>Descrição</label>
                                    <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid': _ProductService._ValidatorsSrv.touchedErrors('description', _ProductService.formProductInsert)}">
                                    <div class="invalid-feedback">
                                        {{_ProductService._ValidatorsSrv.required2(this._ProductService.formProductInsert, 'description', 'Descrição', 3, 500)}}
                                    </div>
                                    <div class="p-3">
                                        <button [disabled]="!_ProductService.formProductInsert.valid" id="label" class="btn btn-warning btn-lg" style="color:rgb(0, 0, 0); float: right;" (click)="_ProductService.save()">Cadastrar</button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>



                            <div class="p-1"></div>

                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div>
            <!-- {{_ProductService.formProductInsert.value | json}} -->
        </div>